@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
	font-family: 'Montserrat', sans-serif;
	background-image:linear-gradient(rgb(32,20,16),rgb(85,109,120),rgb(247,226,171));
	margin: 20px 200px 20px 200px;
}

ul{font-size: 18px;
	text-align: left;
}
h1{}
ol{list-style: circle;
	list-style-position: outside;
font-size: 14px;}

div#heading{
	background-color: rgb(247,226,171);
	padding: 10px;
	border:10px groove #cdab94;
	border-radius: 25px;
	text-align: center;
	letter-spacing: 8px;
}
div#role{
	text-align: justify;
	text-decoration: bolder;
	font-size: 1.2em;
}

div#intro{
	border: 10px groove #cdab94;
	margin: 40px;
	padding: 20px;
	border-radius: 20px;

}
div#topic{
	border: groove #cdab94;
	border-color: white;
	background-image: radial-gradient(#d2d2d2,darkgrey);
	margin: 0;
	border-radius: 20px;
	padding: 20px;
}
class.large{
	font-size: 200%;
}
class.bigger{
	color:darkcyan;
	font-weight: bolder;
	font-family: arial;
	font-size: 16px;
	text-align: left;
	text-align: center;
	letter-spacing: 8px;
}
span.major{
	font-style: italic;
	text-decoration: underline;
}
div#topic p{
	text-align: justify;
	lineheight: 2em;
	border-radius: 25px;
}

div#source{
	border: 10px groove #cdab94;
	text-align: center;
	border-radius: 20px;
	background-color: rgb(247,226,171);
}

a:link{color:#6b574c;}
a:visited{color:#6b574c;}
a:hover{color: black; background-color: inherit;}


::selection{
	color: #cdab94;
	background: bisque;
}

.super{
	vertical-align: super;
	font-weight: bold;
}
